.main{margin-top: 172px;
	
    .main-left{width: 19%;border: 1px solid #ccc;float: left;
    p{font: 20px/2 "";padding-left: 40px;background: #ccc;}
    .allList{li{text-align: center;margin-top: 20px;font: 20px/2 "";}}
}
    .main-right{width: 78%;float: left;margin-left: 20px;
	.nowname{font:600 25px/2 "";margin-left: 40px;height: 50px; color: #333;}
    .goods{li{width: 290px;height: 350px; float: left;background:white;margin:10px;text-align:center;box-shadow: 0 0 3px black;
    img{height: 200px;width: 200px;}
    span{display: block;font: 16px/2 "";}}}}
}
.mestip{height: 200px; height: 200px; position: fixed;left: 0;bottom: 0;right: 0;left: 0;margin: auto;border: 1px solid black; border-radius: 20px;}