.main{margin-top: 172px;
    .main-left{width: 19%;border: 1px solid #ccc;float: left;
    p{font: 20px/2 "";padding-left: 40px;background: #ccc;}
    .allList{li{text-align: center;margin-top: 20px;font: 20px/2 "";}}
}
    .main-right{width: 78%;border: 1px solid #ccc;float: left;margin-left: 20px;
    .goods{li{width: 220px;height: 330px; float: left;background:white;margin:10px;text-align:center;box-shadow: 0 0 3px black;
    img{height: 200px;width: 200px;}
    span{display: block;font: 16px/2 "";}}}}
}
